.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; /*define el tamaño de las columnas*/
  width:800px ;
  height:800px ;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  border: 10px solid crimson;
  row-gap: 10px;
}

.wrapper div{
  border: 1px solid black
}
